.git
.gitignore
.gitattributes
.env
.env.backup
.env.production
.phpunit.cache
.phpunit.result.cache
/vendor
/node_modules
/public/build
/public/hot
/storage/local
/storage/logs/*.log
/storage/app/backup
/tests
/database/factories
/database/seeders
*.sql
*.zip
*.log
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log